@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Boldonse", system-ui;
}

html, body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}
.main h1 {
  font-size: 5rem;
  text-align: center;
  color: #20a2ff;
}
.main .cursor {
  width: 60px;
  height: 60px;
  background-color: #ff6a6a;
  position: absolute;
  border-radius: 50%;
  transition: all linear 0.2s;
}